<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label "lowest price" %>
    <%= form.text_field :price_low %>
  </div>

  <div class="field">
    <%= form.label "highest price" %>
    <%= form.text_field :price_low %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :files, 
                        multiple: true, 
                        direct_upload: true %>
  </div>

  <%= form.label "Tag the portfolio" %>
  <%= form.fields_for :tags do |tag_form| %>
    <%= render 'tag_form', tag_form: tag_form %>
  <% end %>
  <%= link_to "add tag", '#', class: "add_tag" %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
