<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="portfolio_form">

    <div class="field">
      <%= form.label "Description" %>
      <%= form.text_area :description, placeholder: 'Introduce your work to the community' %>
    </div>

    <div class="field">
      <%= form.label "Price Range" %>
      <div class="price_range">
        <div class="price_low">
        <%= form.text_field :price_low, placeholder: '0', required: true %>
        </div>
        <hr class="range_sign">
        <div class="price_high">
          <%= form.text_field :price_low, placeholder: '1000', required: true %>
        </div>
      </div>
    </div>
    

    <div class="field">
      <%= form.label "Upload images" %>
      <%= form.file_field :files, 
                          required: true,
                          multiple: true %>
    </div>
    
    <div class="field">
      <%= form.label "Tag the portfolio" %>
      <div class="tags_field">  
        <%= form.fields_for :tags do |tag_form| %>
          <%= render 'tag_form', tag_form: tag_form %>
        <% end %>
        <%= link_to fa_icon("plus-square lg"), '#', class: "add_tag" %>
      </div>
    </div>
    

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
<% end %>
