<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="portfolio_form">

    <div class="field">
      <%= form.label "Title" %>
      <%= form.text_field :title, placeholder: 'Untitled' %>
    </div>

    <div class="field">
      <%= form.label "Description" %>
      <%= form.text_area :description, placeholder: 'Introduce your work to the community' %>
    </div>    

    <div class="field" id="image-upload">
      <div style="display: flex;">
        <%= form.label "Upload images (png only)" %>
        <div style="margin-left: 10px">
          <%= form.file_field :files, 
                            required: true,
                            multiple: true,
                            accept: "image/png",
                            id: "img-input",
                            class: "inputfiles" %>
          <label for="img-input"><%= material_icon.add_a_photo %></label>
        </div>
      </div>
      
    </div>
    
    <div class="field">
      <%= form.label "Tag the portfolio" %>
      <div class="tags_field">  
        <%= form.fields_for :tags do |tag_form| %>
          <%= render 'tag_form', tag_form: tag_form %>
        <% end %>
        <%= link_to fa_icon("plus-square lg"), '#', class: "add_tag" %>
      </div>
    </div>
    

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
<% end %>


