<p id="notice"><%= notice %></p>

<div class="profile-container">
    <div class="avatar-container">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "100x100!"), class: "rounded-circle avatar-img"%>
      <% else %>
        <img class="rounded-circle avatar-img"
        src="https://assets.currencycloud.com/wp-content/uploads/2018/01/profile-placeholder.gif" 
        width="100" height="100" class="rounded-circle">
      <% end %>
    </div>  

    <div class="profile-info">
        <div style="display: flex">
          <div class="username">
            <%= @user.user_name %>
          </div>
          <%= link_to fa_icon("comments lg"), "#", 
            class: "start-conversation",
            data: {
              sid: current_user.id,
              rip: @user.id,
              sname: current_user.user_name } %>
        </div>
        
        <div class="email">
          <%= @user.email_address %>         
        </div>
        <div class="bio">
          <p id="bio_text"><%= @user.biography %></p> 
        </div>
    </div>
</div>

<hr>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mx-n2 mt-1">
    <% @user.portfolios.each do |portfolio|%>
      <% portfolio.images.each do |img| %>
        <div class="show-image-container">
          <a class="portfolio-image col-view 
          img-wrapper my-3 btn-block position-relative" 
          href=<%="/portfolios/#{portfolio.id}"%>>
            <%= image_tag(img.file, 
             style: 'width:300px; height:300px',
             class: "show-image") %>
            <div class="show-overlay">
              <div class="show-info">
                <%= simple_format(
                  "Price: #{number_to_currency(img.price)}\n
                   Published: #{img.date}\n
                   #{portfolio.description}") %>
              </div>  
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>

