<div class="portfolio_carousal">
  <div id="myCarousel" class="carousel slide w-100">
    <div class="carousel-inner w-100" role="listbox">
      <div class="carousel-item row no-gutters active">
        <div class="col d-flex justify-content-center">
          <div class="show-image-container">
            <%= image_tag(@images[0].file, 
             class: "show-image") %>
            <div class="show-overlay">
              <div class="show-info">
                <%= simple_format("Price: #{number_to_currency(
                 @images[0].price)}\n
                 Published: #{@images[0].date}\n") %>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <% @images[1..-1].each do |img| %>
    	    <div class="carousel-item row no-gutters">
            <div class="col d-flex justify-content-center">
              <div class="show-image-container">
                <%= image_tag(img.file, style: 'width:auto; height:500px',
                 class: "show-image img-fluis") %>
                <div class="show-overlay">
                  <div class="show-info">
                    <%= simple_format(
                      "Price: #{number_to_currency(img.price)}\n
                       Published: #{img.date}\n") %>
                  </div>  
                </div>
              </div>
            </div>
          </div>
		  <% end %>
        
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    	<span class="_3g6BC _33ljh"><svg width="27" height="48" viewBox="0 0 27 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M3 21L24 0l3 3L6 24l21 21-3 3L0 24l3-3z" fill-rule="evenodd"></path></svg></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span><svg width="27" height="48" viewBox="0 0 27 48" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M24 27L3 48l-3-3 21-21L0 3l3-3 24 24-3 3z" fill-rule="evenodd"></path></svg></span>
    </a>
  </div>
</div>

<div class="details_container">
    <div class="profile_container">
      <% if @portfolio.user.avatar.attached? %>
        <span class="avatar_show">
          <%= image_tag @portfolio.user.avatar.variant(resize: "50x50!"), class: "rounded-circle avatar-img"%>
        </span>
      <% else %>
        <span class="avatar_show">
          <img class="rounded-circle avatar-img"
              src="https://assets.currencycloud.com/wp-content/uploads/2018/01/profile-placeholder.gif" 
              width="50" height="50" class="rounded-circle">
        </span>  
      <% end %>

      <div class="info_container">
          <div class="title_container">
            <h1 data-hook="deviation_title" class="title_show">
              <%= @portfolio.title == nil ? "untitled" : @portfolio.title %>
            </h1>
          </div>
          <div class="author_container" style="margin-bottom: 10px">
            <div>
            	<span>By</span>
            	<a href=<%="/storefront?user_id=#{@portfolio.user.id}"%> 
            		 class='user_link_show'><%= @portfolio.user.user_name %></a>
            </div>
          </div>
          <div class="description_container">
            <span><%= @portfolio.description %></span>
          </div>
      </div>
    </div>
    <div class="tags_container" style="margin-top: 20px">
        <div>
          <% @portfolio.tags.each do |tag| %>
            <h5 style="float: left; margin-right: 10px;"><span class="badge badge-secondary"><%= tag.tag_name%></span></h5>
          <% end %>
        </div>
    </div>
</div>

