<h1>Storefront</h1>
<p>User/artist storefront (if they have one), otherwise just their profile info</p>
<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Time of last refresh:</strong>
  <%= Time.now %>
</p>