<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-group">
    <h2 class="bounty-board headline mb-2"><%= f.label(:title, class: 'm-0') %></h2>
    <%= f.text_field(:title, class: 'dark-text-input form-control m-0') %> 
  </div>

  <div class="bounty-board container red px-4 px-md-5 py-3 my-4">
    <h3 class="bounty-board headline">Summary</h3>

    <div class="form-group">
      <h4 class="bounty-board mb-2"><%= f.label(:price, "Price", class: 'm-0') %></h4>
      <div class="input-group w-100">
        <div class="input-group-prepend" data-target="#post_price">
          <div class="dark-input-group-text input-group-text px-2" style="cursor:pointer;">
            <%= material_icon.monetization_on %>
          </div>
        </div>
        <%= f.number_field(:price, in: 0..Float::INFINITY, step: 0.5, class: 'dark-text-input form-control mb-0', id: 'post_price') %>
      </div>
    </div>

    <div class="form-group">
      <h4 class="bounty-board mb-2"><%= f.label(:deadline, "Deadline", class: 'm-0') %></h4>
      <%= f.date_field(:deadline, class: 'form-control dark-text-input', id: 'bounty-board-deadline', selected: 7.days.from_now, min: Date.today) %>
    </div>
    
    <% if false %>
    <div class="form-group">
      <h4 class="bounty-board mb-2"><%= f.label(:deadline, "Deadline", class: 'm-0') %></h4>
      <div class="input-group date" id="bounty-board-deadline" data-target-input="nearest">
        <input type="text" class="dark-text-input form-control datetimepicker-input" data-target="#bounty-board-deadline" data-toggle="datetimepicker" id="post_deadline" name="post[deadline]" />
        <div class="input-group-append" data-target="#bounty-board-deadline" data-toggle="datetimepicker">
            <div class="bounty-board dark-input-group-text input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  
  <div class="bounty-board container yellow px-4 px-md-5 py-3 my-4">
    <div class="form-group">
      <h3 class="headline bounty-board mb-2"><%= f.label(:content, "Details", class: 'mb-0') %></h3>
      <%= f.text_area(:content, class: 'textarea-autoresize dark-text-input form-control') %>
    </div>
  </div>

  <h2 class="headline bounty-board mb-n3">Roles</h2>

  <div class="my-n3">
    <%= render partial: 'roles/form', locals: { 
      display: false, 
      show_errors: false, 
      role_num: 'template', 
      role_name: '', 
      role_category: '', 
      role_description: '',
    } %>

    <% if params[:roles] %>
      <% params[:roles].keys.each_with_index do |role_num, idx| %>
        <% if role_num.to_i.to_s == role_num # role_num is not integer (template) %>
          <%= render partial: 'roles/form', locals: {
            display: true,
            show_errors: true,
            role_num: role_num,
            role_name: params[:roles][role_num][:name],
            role_category: params[:roles][role_num][:category],
            role_description: params[:roles][role_num][:description],
          } %>
        <% end %>
      <% end %>
    <% else %>
      <%= render partial: 'roles/form', locals: {
        display: true, 
        show_errors: false, 
        role_num: 0, 
        role_name: '', 
        role_category: '', 
        role_description: '',
      } %>
    <% end %>
  </div>

<% if false %>
<div class="w-100 d-flex flex-column align-items-center">
  <button type="button" class="btn bounty-board role role-btn" id="addRole" data-target="#role-template" data-role-count="0">
    <%= material_icon.add_box %><span class="ml-2 mr-1">Add another role</span>
  </button>
  <%= f.submit class: 'mt-3 btn btn-primary bounty-board', id: 'createPost' %>
</div>
<% end %>

<div class="w-100 d-flex flex-column align-items-center position-relative">
  <button type="button" class="btn bounty-board text-btn green" id="addRole" data-target="#role-template" data-role-count="0">
    <%= material_icon.add_box %><span class="ml-2 mr-1">Add another role</span>
  </button>
  <div class="bounty-board streak green"></div>
</div>

<div class="w-100 d-flex flex-column align-items-center mt-3 position-relative">
  <button type="submit" class="btn bounty-board text-btn blue" id="createPost">
    <%= material_icon.create %><span class="ml-2 mr-1">Create post</span>
  </button>
  <div class="bounty-board streak blue"></div>
</div>

<% end %>