<div class="bounty-board back mb-3 mt-n3 d-block">
  <%= link_to '<< Bounty Board', "#{posts_path}#post-#{@post.id}" %>
</div>

<h2 class="bounty-board show show-title"><%= @post.title %></h2>
<p class="bounty-board show by">posted by <%= link_to @post.user.user_name, "/storefront?user_id=#{@post.user.id}", class: 'bounty-board', data: {turbolinks: "false"} %> on <%= @post.created_at.to_date.to_s %></p>

<div class="bounty-board container red px-4 px-md-5 py-3 my-4">
  <h3 class="bounty-board show headline mb-3">Summary</h3>
  <h4 class="bounty-board">Price:</h4> <span><%= number_to_currency(@post.price) %></span><br>
  <h4 class="bounty-board">Deadline:</h4> <span><%= @post.deadline %></span>
  <div class="d-flex flex-row flex-wrap ml-n2">
    <% @roles.keys.sort.each do |category| %>
      <div class="bounty-board role">
        <div class="mx-2 mt-1 d-inline-block">
          <%= get_icon category %>
        </div>
        <p class="my-0 mt-0 mr-2">
          <%= link_to(pluralize(@roles[category].count, category), "##{category}", class: 'bounty-board') %>
        </p>
      </div>
    <% end %>
  </div>
</div>


<div class="bounty-board container yellow px-4 px-md-5 py-3 my-4">
  <h3 class="bounty-board show headline mb-3">Details</h3>
  <%= simple_format(@post.content, class: 'bounty-board show content') %>
</div>

<% @roles.keys.sort.each do |category| %>
  <div class="bounty-board navbar-padding" id="<%= category %>"></div>
  <div class="bounty-board container green px-4 px-md-5 py-3 my-4">
    <h3 class="bounty-board show headline d-flex mb-3">
      <div class="mr-2 d-inline-block">
        <%= get_icon category %>
      </div>
      <%= category.pluralize(@roles[category].count).capitalize %>
    </h3>
    <% @roles[category].each_with_index do |role, idx| %>
      <h4 class="bounty-board"><%= role.name %></h4>
      <p><%= role.description %></p>
      <% if idx < @roles[category].size - 1 %>
        <hr class="bounty-board">
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="bounty-board footer mb-3">
  <%= link_to "<< Bounty Board", "#{posts_path}#post-#{@post.id}" %>
  <!-- todo implement editing/deleting posts -->
  <% if false %>
  <% if logged_in? and current_user.id == @post.user.id %>
    |<%= link_to " Edit ", edit_post_path(@post) %>
    |<%= link_to " Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" } %>
  <% end %>
  <% end %>
</div>
<!-- roles -->