<!-- MODAL (MOBILE/SMALL SCREEN) -->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="mSortOptions">
      <%= render 'm_sort_options' %>
    </div>
  </div>
</div>

<h1>Welcome to the Commission Marketplace!</h1>
<div class="container pt-3">
  <div class="flex-row align-items-center mb-2" id="sortOptions">
    <%= render 'sort_options' %>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mx-n2 mt-1">
    <% @hidden_images.each do |img| %>
      <% if img.file.attached? %>
        <%= link_to(@image_portfolios[img[:id]] ? portfolio_path(@image_portfolios[img[:id]].first) : '#',
          class: 'col-view img-wrapper my-3 btn-block position-relative', 
          id: "img-#{img[:id]}",
          data: {
            content: "",
            html: true,
            price: img[:price],
            date: img[:date],
          },
          style: "line-height: 0; display: none") do %>
          <div class="img-overlay">
            <div>
              <%= simple_format("#{number_to_currency(img[:price])}\n#{img[:date]}\n#{@image_tags[img[:id]] ? @image_tags[img[:id]].join(', ') : 'No tags found.'}") %>
              <%= form_with(url: root_path, local: true) do |f| %>
                <%= f.hidden_field(:sim_sort, value: img[:id]) %>
                <%= f.button(:submit, class: 'btn') do %>
                  <i class="material-icons md-18">search</i><span>Find similar images</span>
                <% end %>
              <% end %>
            </div>
          </div>
          <%= image_tag(img.file, class: 'img-fluid', size: ("#{img.file.metadata[:width]}x#{img.file.metadata[:height]}" if img.file.analyzed?)) %>
        <% end %>
      <% end %>
    <% end %>

    <% @images.each_with_index do |img, idx| %>
      <% if img.file.attached? %>
        <%= link_to(@image_portfolios[img[:id]] ? portfolio_path(@image_portfolios[img[:id]].first) : '#',
          class: 'col-view img-wrapper my-3 btn-block position-relative', 
          id: "img-#{img[:id]}",
          data: {
            content: "",
            html: true,
            price: img[:price],
            date: img[:date],
            order: idx,
          },
          style: "line-height: 0") do %>
          <div class="img-overlay">
            <div>
              <%= simple_format("#{number_to_currency(img[:price])}\n#{img[:date]}\n#{@image_tags[img[:id]] ? @image_tags[img[:id]].join(', ') : 'No tags found.'}") %>
              <%= form_with(url: root_path, remote: true) do |f| %>
                <%= f.hidden_field(:sim_sort, value: img[:id]) %>
                <%= f.button(:submit, class: 'btn') do %>
                  <i class="material-icons md-18">search</i><span>Find similar images</span>
                <% end %>
              <% end %>
            </div>
          </div>
          <%= image_tag(img.file, class: 'img-fluid', size: ("#{img.file.metadata[:width]}x#{img.file.metadata[:height]}" if img.file.analyzed?)) %>
        <% end %>
      <% end %>
    <% end %>

    <div class="col px-2" id="col-0">
    </div>
    <div class="col px-2" id="col-1">
    </div>
    <div class="col px-2" id="col-2">
    </div>
    <div class="col px-2" id="col-3">
    </div>
  </div>
  </div>
</div>
