<!-- MODAL (MOBILE/SMALL SCREEN) -->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="mSortOptions">
      <%= render 'm_sort_options' %>
    </div>
  </div>
</div>

<h1>Welcome to the Commission Marketplace!</h1>
<hr>
<div class="container pt-3">
  <div>
    <div class="flex-row align-items-center mb-2" id="sortOptions">
      <%= render 'sort_options' %>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-n2 mt-1">
    <% if false %>
    <% @hidden_images.each do |img| %>
      <%= link_to("https://imgur.com/gallery/#{img[:gallery_url]}",
        class: 'col-view img-wrapper my-3 btn-block position-relative img-thumbnail', 
        id: "img-#{img[:id]}",
        data: {
          toggle: "tooltip",
          placement: "right",
          content: "",
          html: true,
          price: img[:price],
          date: img[:date],
        },
        title: simple_format("$#{img[:price]}\n#{img[:date].strftime("%d-%m-%Y")}", {}, wrapper_tag: 'span'),
        style: "line-height: 0") do %>
        <%= image_tag("https://i.imgur.com/#{img[:url]}", class: 'img-fluid', height: img[:height], width: img[:width]) %>
      <% end %>
    <% end %>
    <% end %>

    <script>$('.img-wrapper.col-view').hide()</script>

    <% @images.each_with_index do |img, idx| %>
      <% if img.file.attached? %>
        <%= link_to('#',
          class: 'col-view img-wrapper my-3 btn-block position-relative img-thumbnail', 
          id: "img-#{img[:id]}",
          data: {
            toggle: "tooltip",
            placement: "right",
            content: "",
            html: true,
            price: img[:price],
            date: img[:date],
            order: idx,
          },
          title: simple_format("$#{img[:price]}\n#{img[:date].strftime("%d-%m-%Y")}", {}, wrapper_tag: 'span'),
          style: "line-height: 0") do %>
          <%= image_tag(img.file, class: 'img-fluid', height: img[:height], width: img[:width]) %>
        <% end %>
      <% end %>
    <% end %>

    <div class="col px-2" id="col-0">
    </div>
    <div class="col px-2" id="col-1">
    </div>
    <div class="col px-2" id="col-2">
    </div>
    <div class="col px-2" id="col-3">
    </div>
  </div>
  </div>
</div>
