<h1>Welcome to the Commission Marketplace!</h1>
<hr>
<div class="container pt-3">
  <div class="d-flex align-items-stretch justify-content-between mb-2">
    <div class="d-none d-md-flex flex-row align-items-center mr-1" id="sortOptions">
      <%= render 'sort_options' %>
    </div>

    <!-- MOBILE/SMALL SCREEN -->
    <div class="d-md-none">
      <div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered align-items-center" role="document">
          <div class="modal-content" id="mSortOptions">
            <%= render 'm_sort_options' %>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary d-flex p-2 mr-2" data-toggle="modal" data-target="#sortModal">
        <%= material_icon.sort %>
      </button>
    </div>

    <%= form_with(url: '#', scope: :session, local: true, method: :get, class: 'form-inline w-100') do |f| %>
      <%= f.text_field :search, class: 'search-input form-control bg-light text-dark mb-0 pr-5 w-100 h-100', placeholder: "Search (eg, 'full body sketch $20-30')" %>
      <%= button_tag :submit, class: 'search-btn btn form-control text-dark px-2' do %>
          <%= material_icon.search %>
      <% end %>
    <% end %>
  </div>


  <!-- ROW VIEW - NOT USED -->
  <% if false %>
    <div class="img-grid d-flex flex-wrap m-n1">
      <% @images.each do |img| %>
        <%= link_to(img[:url],
          class: 'row-view img-wrapper position-relative m-1',
          data: {
            toggle: "tooltip",
            placement: "right",
            price: img[:price],
            date: img[:date],
            html: true,
          },
          title: simple_format("#{img[:portfolio]}\n#{img[:artist]}\n$#{img[:price]}", {}, wrapper_tag: 'span'),
          style: "line-height: 0") do %>
          <%= image_tag(img[:url], class: img[:height] / img[:width].to_f >= 1.5 ? 'grid-img-tall' : 'grid-img-wide', height: img[:height], width: img[:width]) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-n1">
    <div class="d-none">
      <% @images.each_with_index do |img, idx| %>
        <%= link_to(img[:url],
          class: 'col-view img-wrapper my-2 btn-block position-relative', 
          id: "img-#{img[:id]}",
          data: {
            toggle: "tooltip",
            placement: "right",
            content: "",
            html: true,
            price: img[:price],
            date: img[:date],
            order: idx,
          },
          title: simple_format("#{img[:portfolio]}\n#{img[:artist]}\n$#{img[:price]}\n#{img[:date].strftime("%d-%m-%Y")}", {}, wrapper_tag: 'span'),
          style: "line-height: 0") do %>
          <%= image_tag(img[:url], class: 'img-fluid', height: img[:height], width: img[:width]) %>
        <% end %>
      <% end %>
    </div>
    <div class="col px-1" id="col-0">
    </div>
    <div class="col px-1" id="col-1">
    </div>
    <div class="col px-1" id="col-2">
    </div>
    <div class="col px-1" id="col-3">
    </div>
  </div>
  </div>
</div>
