<h1>Welcome to the Commission Marketplace!</h1>
<hr>
<div class="container pt-3">
  <div class="d-flex align-items-center justify-content-between mb-2">
    <%= material_icon.sort %>
    <span class="px-1">Sort:</span>
    <%= form_with(url: root_path, class: 'form-inline flex-nowrap', remote: true) do |f| %>
      <div class="px-1 btn-group btn-group-toggle">
        <%= f.label :sortByNone, class: "btn btn-secondary #{'active' if @sort == 'none'}" do %>
          <%= radio_button_tag('sort', 'none', checked = (@sort == 'none'), id: 'sortByNone') %>
          None
        <% end %>
        <%= f.label :sortByDate, class: "btn btn-secondary #{'active' if @sort == 'date'}" do %>
          <%= radio_button_tag('sort', 'date', checked = (@sort == 'date'), id: 'sortByDate') %>
          Date
        <% end %>
        <%= f.label :sortByPrice, class: "btn btn-secondary #{'active' if @sort == 'price'}" do %>
          <%= radio_button_tag('sort', 'price', checked = (@sort == 'price'), id: 'sortByPrice') %>
          Price
        <% end %>
      </div>

      <div class="px-1 btn-group btn-group-toggle">
        <%= f.label :sortAsc, class: "btn btn-secondary btn-direction px-1 #{'active' if @asc} #{'disabled' if @sort == 'none'}" do %>
          <%= radio_button_tag('dir', 'asc', checked = (@asc), id: 'sortAsc') %>
          <%= material_icon.arrow_drop_up %>
        <% end %>
        <%= f.label :sortDesc, class: "btn btn-secondary btn-direction px-1 #{'active' if @asc == false} #{'disabled' if @sort == 'none'}" do %>
          <%= radio_button_tag('dir', 'desc', checked = (@asc == false), id: 'sortDesc') %>
          <%= material_icon.arrow_drop_down %>
        <% end %>
      </div>
      <input type="submit" class="d-none" name="">
    <% end %>

    <%= form_with(url: '#', scope: :session, local: true, method: :get, class: 'form-inline ml-3 w-100') do |f| %>
      <%= f.text_field :search, class: 'search-input form-control bg-light text-dark mb-0 pr-5 w-100', placeholder: "Search (eg, 'full body sketch $20-30')" %>
      <%= button_tag :submit, class: 'search-btn btn form-control text-dark px-2' do %>
          <%= material_icon.search %>
      <% end %>
    <% end %>
  </div>


  <!-- ROW VIEW - NOT USED -->
  <% if false %>
    <div class="img-grid d-flex flex-wrap m-n1">
      <% @images.each do |img| %>
        <%= link_to(img[:url],
          class: 'row-view img-wrapper position-relative m-1',
          data: {
            toggle: "tooltip",
            placement: "right",
            price: img[:price],
            date: img[:date],
            html: true,
          },
          title: simple_format("#{img[:portfolio]}\n#{img[:artist]}\n$#{img[:price]}", {}, wrapper_tag: 'span'),
          style: "line-height: 0") do %>
          <%= image_tag(img[:url], class: img[:height] / img[:width].to_f >= 1.5 ? 'grid-img-tall' : 'grid-img-wide', height: img[:height], width: img[:width]) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-n1">
    <div class="d-none">
      <% @images.each_with_index do |img, idx| %>
        <%= link_to(img[:url],
          class: 'col-view img-wrapper my-2 btn-block position-relative', 
          id: "img-#{img[:id]}",
          data: {
            toggle: "tooltip",
            placement: "right",
            content: "",
            html: true,
            price: img[:price],
            date: img[:date],
            order: idx,
          },
          title: simple_format("#{img[:portfolio]}\n#{img[:artist]}\n$#{img[:price]}\n#{img[:date].strftime("%d-%m-%Y")}", {}, wrapper_tag: 'span'),
          style: "line-height: 0") do %>
          <%= image_tag(img[:url], class: 'img-fluid', height: img[:height], width: img[:width]) %>
        <% end %>
      <% end %>
    </div>
    <div class="col px-1" id="col-0">
    </div>
    <div class="col px-1" id="col-1">
    </div>
    <div class="col px-1" id="col-2">
    </div>
    <div class="col px-1" id="col-3">
    </div>
  </div>
  </div>
</div>
