<!DOCTYPE html>
<html>
  <head>
    <title>Commission Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav w-100 text-nowrap">
            <li class="nav-item"><%= link_to 'Comm. Market', root_path, class: 'nav-link btn-block' %></li>
            <% if logged_in? %>
              <li class="nav-item"><%= link_to 'Profile', user_path(current_user.user_name), class: 'nav-link btn-block' %></li>
              <li class="nav-item"><%= link_to 'Dashboard', dashboard_path, class: 'nav-link btn-block' %></li>
              <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link btn-block' %></li>
            <% else %>
              <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link btn-block' %></li>
              <li class="nav-item"><%= link_to 'Register', register_path, class: 'nav-link btn-block' %></li>
            <% end %>
            <%= form_with(url: '#', scope: :session, local: true, method: :get, class: 'form-inline mr-4 w-75') do |f| %>
              <%= f.text_field :search, class: 'search-input form-control bg-dark text-light mb-0 ml-4 pr-5 w-100', placeholder: "Search (eg, 'full body sketch $20-30')" %>

              <%= button_tag :submit, class: 'search-btn btn form-control text-light px-2' do %>
                  <%= material_icon.search %>
              <% end %>
            <% end %>
          </ul>
        </div>
        </nav>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
