<!DOCTYPE html>
<html>
  <head>
     <%= render 'shared/head' %>
  </head>

  <body>
    <!-- Modals -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered align-items-center" role="document">
        <div class="modal-content">
          <%= render partial: 'users/register' %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered align-items-center" role="document">
        <div class="modal-content">
          <%= render partial: 'sessions/login' %>
        </div>
      </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbar">
            <%= render partial: 'navbar' %>
          </div>
        </nav>
    </header>
    <div class="container below-navbar">
      <% flash.each do |message_type, message| %>
        <% if not message_type == 'misc_params' %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% else %>
          <% if message['show_login'] %>
            <script type="text/javascript">
              hideModal($('.modal'));
              $('#loginModal').modal('show');
            </script>
          <% elsif message['show_register'] %>
            <script type="text/javascript">
              hideModal($('.modal'));
              $('#registerModal').modal('show');
            </script>
          <% end %>
        <% end %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'shared/scripts' %>
  </body>
</html>
